<h1><%= @list.id ? 'Edit List' : 'Create List' %></h1>
<hr />
<%= form_for [@board, @list] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />
  <%= f.submit %>
<% end %>