<h1><%= @board.id ? 'Edit Board' : 'Create Board' %></h1>
<hr />
<%= form_for @board do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <%= f.submit %>
<% end %>